.cart-body{
    height: 80vh;
    width: 300px;
    border: 1px solid red;
    background-color: #171A26;
    color: white;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;


    div:nth-child(1){
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 10px;
    }

    
    div:nth-child(2){
        font-size: 16px;
        font-weight: 700;
    }

    &__products{
        overflow-y: scroll;
    }
}