.navbar{
    background-image: linear-gradient(to bottom,  #171A26, rgba(23, 26, 38, 0.0001));
    background-color:#15171C;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    position:relative;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
   
    padding: 0 10px;

   

    &__logo {
        width: 120px;
       
        img{
            width: 100%;
        }
    }

    &__links {
        text-transform: uppercase;
        color: white;
       
        letter-spacing: 0px;
        line-height: 22px;
        // width: 40%;
        // height: 100%;
      
       
        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items:center;
            justify-content: space-between;
            cursor: pointer;
            font-size: 18px;
            font-weight: 700;
           
           
            .navbar__links-link{
                text-decoration: none;
                color: white;

              
            }
            
            li:nth-child(1){
                // background-color: aqua;
                height: 60px;
                color: white;
                display: flex;
                align-items: center;
               
                padding: 0 20px;

                border-bottom: 2px solid white;

                
            }
            li:nth-child(2){
                // background-color: aqua;
                height: 60px;
                display: flex;
                align-items: center;
      
                padding: 0 20px;
                &:active  {
                    border-bottom: 2px solid white;
                }
            }
            li:nth-child(3){
                // background-color: aqua;
                height: 60px;
                display: flex;
                align-items: center;
              
                padding: 0 20px;
                &:active  {
                    border-bottom: 2px solid white;
                }
            }
            li:nth-child(4){
                // background-color: aqua;
                height: 60px;
                display: flex;
                align-items: center;
                
                padding: 0 20px;
                &:active  {
                    border-bottom: 2px solid white;
                }
            }
        }
    }

    &__cart {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: white;
        // width: 30%;


        &-location {
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all 100ms ease;
            padding: 0 10px ;
            height: 40px;


            &-name {

                select{
                  border: none;
                  font-size: 18px;
                  color: white;
                  background-color: transparent;
                  appearance: none;
                  padding: 5px;
                  width: 120%;
                  border:0px;
   outline:0px;


                  option {
                      color: inherit;
                      background-color: #15171C;
                  }
                }
            }
            &-img{
                width: 26px;
                img{
                    width: 100%;
                }

            }

            &:hover {
                background-color: rgb(240, 240, 240,.1);
                border-radius: 10px;
            }
        }

        &-button {
            padding: 0 10px ;
           button {
            cursor: pointer;
            // font-family: Inter-Medium,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
            border: 2px solid rgba(255, 255, 255, 0.75);
            transition: all 250ms ease;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background: transparent;
            font-size: 12px;
            border-radius: 5px;
            padding: 7px 15px;
            font-weight: 700;


            &:hover {
                border: 2px solid rgba(255, 255, 255, .5);
            }
            
           }
        }

        &-profile {
            width: 45px;
            height: 45px;
            padding: 0 10px;
            display: flex;
                justify-content: center;
                align-items: center;
            
            img{
                
                width: 26px;
            }

            &:hover {
                
                background-color: rgb(240, 240, 240,.1);
                border-radius: 50%;

            }
        }

        &-cart{
            width: 45px;
            height: 45px;
            padding: 0 10px;
            display: flex;
                justify-content: center;
                align-items: center;
            img {
                width: 26px;
            }

            &:hover {
                
                background-color: rgb(240, 240, 240,.1);
                border-radius: 50%;

            }
        }
    }
}

